<nav class="navbar navbar-light" hx-boost="true">
  <div class="container">
    <a class="navbar-brand" href="/">conduit</a>
    <ul class="nav navbar-nav pull-xs-right">
      {{ range .Links }}
        <li class="nav-item">
          <a
            class="nav-link {{ if eq $.Page .Uri }}active{{ end }}"
            href="{{ .Uri }}"
            >{{ .Title }}</a
          >
        </li>
      {{ end }}
    </ul>
  </div>
</nav>
